# -------------------- Application --------------------
APP_NAME="name"
APP_ENV=dev                             # dev / prod
APP_DEBUG=true                          # true / false
DEBUG_LVL=0                             # 0 - включен yii2 debug, 1 - вкючен trace, 2 - добавлен request, 3 - включено всё
APP_URL="http://localhost:8080"         # базовый URL приложения
COOKIE_VALIDATION_KEY="random-string"   # ключ для валидации кук
ADMIN_EMAIL="email"

# -------------------- FRONTEND --------------------
FRONTEND_URL="string"

# -------------------- Email --------------------
MAILER_DSN="SCHEME://USERNAME:PASSWORD@HOST:PORT"
MAILER_SCHEME="SCHEME"
MAILER_HOST="HOST"
MAILER_PORT=PORT
MAILER_USERNAME="USERNAME"
MAILER_PASSWORD="PASSWORD"
MAILER_ENCRYPTION="ssl"
SENDER_EMAIL="EMAIL"
SENDER_NAME="NAME"

# -------------------- Database --------------------
DB_DSN="pgsql:host=localhost;port=5432;dbname=crm"
DB_USERNAME="postgres"
DB_PASSWORD="secret"
