parameters:
    level: 5 # базовый уровень
    paths:
        - core
        - modules
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        # предупреждения о недостающих типах для массивов
        - '#has no value type specified in iterable type array#'
        # ошибки, связанные с неизвестным классом Yii
        - '#Access to static property \$app on an unknown class Yii\.#'
        - '#Constant YII_DEBUG not found\.#'
        - '#Call to static method .* on an unknown class Yii\.#'
